{{#user}}
  <li><a class="btn" href="/products/new">New Product</a></li>
  <li class="dropdown" id="user-dropdown">
    <a href="#user-dropdown" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i><b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="#logout">Logout</a></li> 
    </ul>
  </li>
{{/user}}
