<img src="/img/pinup-dual-flush.jpg"/>
<div id="home">
<div class="row">
  <div class="span8">
    <section id="_1">
      <h1>Getting started with a water saving toilet</h1>
      <p>
        So you are about to buy a water saving toilet but your are not sure what 
        type of water saving toilet suits your needs? You are in luck. I am just 
        going give a brief but thorough explanation on water saving toilets. 
        Well first off their is nothing special about these toilets. They are 
        installed like your old toilet. If you don't know how to install, your 
        plumber will know how. You don't need special plumbing for these toilets 
        and water saving toilets are carried in most stores. Ok, now that we 
        have the general info out of the way lets move on to the specifics.
      </p>
    </section>
    <section id="toilet-types">
      <h2 style="margin-bottom: 0;">Types of water saving toilets</h2>
      <h3>Compost Toilets</h3>
      <p>
        A compost toilet barely uses any water at all. They are hard 
        to find in regular home improvement stores. The benefit of switching to a 
        compost toilet is that you can save almost all of the water you flush with 
        your current toilet.
      </p>

      <h3>High Efficiency Toilets</h3>
      <p>
        There are two types of Hight Efficiency Toilets. A single flush model which 
        uses 1.28 gallons per flush, and a dual flush toilet which gives you the option 
        to pick how many gallons you want for the flush, either .8 or 1.6 gallons.
        The dual flush toilet is the type we offer at the Save Water Project. 
      </p>
      <h3>Low Flow Toilets</h3>
      <p>
       Low flow toilets use 1.6 gallons per flush. This flush volume is the standard 
       in most retail stores. You actually cannot buy a toilet that uses more than 
       1.6 gallons. It is against the law.
      </p>
    </section>
    <section>
      <h2>Saving money with your toilets</h2>
      <p>
        Water saving starts with correcting the simplest habits at home.
        It may require breaking old familiar routines but it is well worth it.
        Replacing some of your outdated water guzzling household products is not a
        bad place to start. Dishwashers, clothes washer, shower-heads and 
        toilets are just some of the products to seriously consider replacing.  
        Todays's toilets are a 
        lot more advanced when it comes to water saving than the toilets of the 
        past. Getting a new water saving toilet whether it is through a government 
        rebate program or just purchasing it yourself, will definitely have a 
        significant impact on your water saving efforts. By purchasing a water 
        saving toilet, your investment will pay for itself very quickly. <b>You can save 
        between 70-100 dollars per year depending on your current toilet's flush size.</b>
        Water conservation is at the forefront of the environmental concerns for the
        United States.  Over the next 5 years the United States government is 
        predicting water shortages for nearly every state.
      </p>
    </section>
  </div>
  <div class="span4">
    <img style="margin-top: 20px" src="/img/surf-poem.jpg" />
  </div>
</div>
