<div class="row">

  <div class="span3">
    <input type="text" name="name" placeholder="Name" />
  </div>


  <div class="span3">
    <select class="span3" name="category" id=>
      <option value="">-- Select Category --</option>
      {{#categories}}
        <option value="{{name}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
      {{/categories}}
    </select>
  </div>

  <div class="span3">
    <form method="post" action="#">
      <input type="file" name="file">
    </form>
  </div>

</div>
